*{
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(to bottom,#c0392b,#16a085,#2980b9);
}
.wrap{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cube{
  width: 200px;
  height: 200px;
  position: absolute;
  transform-style:preserve-3d;
  transform: rotateY(0deg) rotateX(-45deg) rotateZ(-45deg);
  animation: cube 8s linear infinite;
  

}
.cube .side{
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000000;
  padding: 10px;
  background-color: rgb(0, 0,0,.2);

}

.cube .cube-front{
  transform: rotateY(0deg) translateZ(100px);
}
.cube .cube-back{
  transform: rotateY(180deg) translateZ(100px);
}
.cube .cube-left{
  transform: rotateY(-90deg) translateZ(100px);
}
.cube .cube-right{
  transform: rotateY(90deg) translateZ(100px);
}
.cube .cube-top{
  transform: rotateX(90deg) translateZ(100px);
}
.cube .cube-bottom{
  transform: rotateX(-90deg) translateZ(100px);
}
@keyframes cube{
  0%{
    transform: rotateY(0deg) rotateX(-45deg) rotateZ(-45deg);
  }
  100%{
    transform: rotateY(360deg) rotateX(-45deg) rotateZ(-45deg);
  }
}
.cube:hover{
  animation-play-state: paused;
}

.cube1{
  animation:none;
}
.cube-1{
  transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg);
}
.cube-2{
  transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg) translate(200px,200px);
}
.cube-3{
  transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg) translate(200px,-200px);
}
.item-side{
  transition: transform .8s ease;
}
.cube1 .cube-right:hover{
  transform: rotateY(0deg) translateZ(100px) translate(200px,0);
}
.cube1 .cube-top:hover{
  transform: rotateY(0deg) translateZ(100px) translate(0,-200px);
}
.box{
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -242px;
  margin-left: -204px;
  width: 409px;
  height: 485px;
  background-image: url(/练习/常规流/图片/9.png);
  animation: box 2s steps(16) infinite;
}
@keyframes box{
  0%{background-position: 0,0;}
  100%{background-position: -6544px,0;
}
}
audio{
  position: absolute;
  top: 20%;
  width: 500px;
  height: 30px;

}
